<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth page</title>
    <style type="text/css">
        input[type=submit] {
            background-color: #34a4fe;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        input[type=submit]:hover {
            background-color: #34a4fe;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        .middle-style {
            position: absolute;
            top: 40%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            border: 1px solid #34a4fe;
            padding: 20px;
            color: #3b3b3b;
            font-size: 15pt;
            
        }
    </style>
</head>
<body>
        
<div class="container middle-style">
        <p style="text-align: center">Готово!</p>
    <p>Приветствуем, <b><%= username %></b></p>
    <p>Готовы ли Вы предоставить свои данные <b> <%= client %></b> ?</p>

    <form action="<%= redirect_url %>" method="post">
        <input hidden type="text" name="client_id" id="client_id" value="<%= client_id %>">
        <input hidden type="text" name="jwt" id="jwt" value="<%= jwt %>">
        <input type="submit" value="Ok, go">
    </form>
</div>

</body>
</html>